@{
    ViewBag.Title = "About";
}

<div class="jumbotron">
	<h1 class="display-4">We only hire the best of the best for our staff to provide excellent education to our students.</h1>
	<hr class="my-4">
	<p>Click below if you want to see our current website and what's going on with The Tech Academy today!</p>
	<a class="btn btn-primary btn-lg" href="https://www.learncodinganywhere.com/" role="button">Our website</a>
</div>