@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
		<h1>The Tech Academy</h1>
		<h3>Instructor Access</h3>
</div>
<div class="row">
	<div class="col-md-4">
		<h2>Student management</h2>
		<p>
			This is a website dedicated to the instructors of the Tech Academy and their work with the students.
		</p>
	</div>
	<div class="col-md-4">
		<h2>Database</h2>
		<p>
			This site contains a state of the art database for managing student grades, progress, and records.
		</p>
	</div>
	<div class="col-md-4">
		<h2>External needs</h2>
		<p>
			The Tech Academy firmly believes in encouraging students to constantly research. So we've included some of
			our favorite sites to supplement for student learning.
		</p>
	</div>
</div>